.header{
    color: black;
    margin-top: 5em;
}
.sub-header{
    color:blueviolet;
}
.arrow-down-icon{
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000;
    position: center; 
    margin-top: 350px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    width: 10px;
    flex: 1;
    justify-content: 'flex-end';
    margin-bottom: 36px;
}
.about-website-title{
    color: purple;
}
.about-website{
    text-align:right;
    padding-top: 1em;
}